.paginationBox {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.sorting {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
  select {
    margin-left: 10px;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .sorting {
    justify-content: flex-start;
  }
}
