.title {
  font-size: 18px;
  font-weight: 600;
}
.item {
  display: flex;
  padding-top: 10px;
}
.body {
  flex: 0 1 100%;
  margin-left: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.date {
  font-size: 10px;
  color: #8c8c8c;
}
.content {
  margin-top: 10px;
  line-height: 150%;
}
.textarea {
  border: 1px solid #ccc;
  display: block;
  min-height: 150px;
  padding: 5px;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  line-height: 150%;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}
.rateContainer {
  display: flex;
  align-items: center;
}
.rateText {
  margin-right: 5px;
  &:last-child {
    margin-left: 5px;
  }
}
.link {
  margin-left: 5px;
  color: #28647a;
}
@media (max-width: 767px) {
  .rateContainer {
    margin-bottom: 20px;
  }
  .buttonContainer {
    display: block;
  }
}

@media (max-width: 374px) {
  .rateText {
    font-size: 12px;
  }
}
