.button {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  background: #1c485a;
  border: 0;
  transition: all 0.3s;
  letter-spacing: 0.8px;
  color: #d5edf7;
  &:hover {
    background: #396677;
  }
  &:active {
    background: #274652;
  }
}
