.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  max-width: 200px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  cursor: pointer;
  margin-right: 10px;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
.price {
  width: auto;
}
.labelImage {
  max-width: 380px;
}
.image {
  cursor: pointer;
  max-width: 260px;
  margin-bottom: 10px;
}

.addInfoButton {
  background: transparent;
  padding: 10px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 2px 5px 0 #ccc;
  }
}
.warning {
  display: block;
  text-align: left;
  color: #ff4d4f;
}
.info {
  display: flex;
  align-items: center;
  span {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.description {
  margin: 0 20px;
}
